/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff');
  /* Modern Browsers */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff');
  /* Modern Browsers */
}

/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-dingy-white: #EBEBEB;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black: #000000;
  --basic-black-opacity:  rgba(0, 0, 0, 0.3);
  --basim-medium-black: #666666;
  --basic-light-black: #333333;
  --basic-extra-dark-gray: #503E33;
  --basic-dark-gray: #604E43;
  --basic-standard-gray: #ABABAB;
  --basic-gray-opacity: rgba(106, 106, 106, 0.5);
  --basic-gray: #766357;
  --basic-normal-gray: #CACACA;
  --basic-pale-gray: #A9A9A9;
  --basic-light-gray: #EEEEEE;
  --basic-extra-light-gray: #F2F2F2;
  --basic-extra-extra-light-gray: #E5E5E5;
  --basic-almostwhite-gray: #BDBBBC;
  --basic-blue: #81B3D2;
  --basic-medium-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --add-background-color-light-blue: #dbe9f2;
  --add-background-color-medium-blue: #7e9bb9;
  --add-background-color-light-green: #bcd09d;
  --add-background-shadow-gray: #dbdbdb;
}

/* Global */
body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  box-shadow: 0 0 40px 0 var(--add-background-shadow-gray);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.site-navigation {
  list-style: none;
  display: block;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-top: 14px;
  padding-bottom: 16px;
  margin: 0px;
  width: 100%;
  margin-bottom: 0px;
  color: var(--basic-black);
}

.checkboxes {
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  list-style: none;
  padding: 0px;
  margin-left: 34px;
  flex-wrap: wrap;
}

.filter-option {
  display: flex;
  letter-spacing: 1px;
  margin-left: 75px;
  margin-top: 22px;
  margin-bottom: 24px;
}

.filter-option1 {
  letter-spacing: 1px;
  margin-left: 155px;
  margin-top: 20px;
  margin-bottom: 24px;
}

.filter-option1 label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-white);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 0;
}

.filter-input-checkbox:focus+label {
  outline: 1px solid var(--basic-gray);
}

.filter-input-checkbox:checked+label::before {
  background-image: url(../img/checkbox-shape.svg);
}

.filter-input-checkbox [disabled]+label:focus {
  opacity: 0.3;
  outline: 1px solid var(--basic-gray);
}
.filter-input-checkbox:disabled +label{
  opacity: 0.5;
}

.filter-input-checkbox:disabled+label::before {
  opacity: 0.5;
}

.filter-waterpool {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.filter-parking {
  margin-bottom: 25px;
}

.filter-wi-fi {
  margin-bottom: 32.5px;
}

.filter-hotel label {
  margin-bottom: 25px;
  margin-left: 10px;
}

.filter-motel {
  margin-bottom: 25px;
}

.filter-apartment {
  margin-bottom: 32.5px;
}

.head-of-range {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  margin-top: 25.5px;
  margin-left: -1px;
  margin-bottom: 16px;
}

.head-of-checkbox-2 {
  margin-left: -180px;
  margin-top: 23.5px;
  color: var(--basic-white);
}

.checkboxes-2 {
  margin-left: -335px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  list-style: none;
  flex-wrap: wrap;
}

.range-filter {
  width: 316px;
  margin-top: 15px;
  margin-left: 0px;
}

.range-controls {
  height: 10px;
  background-color: transparent;
  margin-bottom: 33px;
  padding-top: 20px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  width: 317px;
  margin-top: -17px;
  background: var(--basic-white-opacity);
}

.range-controls .bar {
  width: 270px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-standard-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-standard-gray);
  position: absolute;
  top: 11px;
  cursor: pointer;
  box-sizing: content-box;

}

.toggle-max:hover {
  left: 250px;
  border-width:10px;
  top: 11px;
  cursor: pointer;
  
}
.toggle-min:hover {
  border-width: 10px;
  top: 11px;
  left: 0;
  cursor: pointer;
  
}

.toggle-min {
  left: 0px;
  margin-top: -19px;
}

.toggle-max {
  left: 252px;
  margin-top: -20px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: var(--basic-white);
}

.border-price {
  width: 317px;
  height: 36px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 72px;
  margin-top: -5px;
}

.label-1 {
  margin-left: 10px;
}

.label-2 {
  margin-top: -45px;
}

.white-stick{
  border-left: 2px solid var(--basic-white);
  height: 22px;
  position: relative;
  left: 155px;
  bottom: 21px;
}
.min-price1 {
  color: var(--basic-white);
  background-color: transparent;
  width: 58px;
  height: 21px;
  margin-left: 52px;
}

.max-price1 {
  color: var(--basic-white);
  background-color: transparent;
  width: 58px;
  height: 21px;
  padding-right: 10px;
  padding-left: 52px;
  margin-left: 160px;
  margin-top: 70px;
}

.min-price2 {
  color: var(--basic-white);
  background-color: transparent;
  width: 10px;
  height: 10px;
  border-style: none;
  margin-right: -25px;
  padding-left: -10px;
  -moz-appearance: textfield;
}

.max-price2 {
  color: var(--basic-white);
  background-color: transparent;
  width: 40px;
  height: 10px;
  border-style: none;
  -moz-appearance: textfield;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
}

.site-navigation-a {
  width: 20%;
  margin-right: -20px;
}

.information {
  padding-left: 30px;
}

.photo-and-video {
  margin-left: -40px;
}

.card-of-states {
  margin-right: -127px;
}

.hotel {
  position: relative;
  right: -70px;
}
.hotel-press{
  color: var(--basic-gray);
}
.site-navigation-a-b {
  width: 20%;
  margin-left: 20%;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-gray);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black-opacity);
}

.main-header {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-black);
  margin-top: 42.5px;
  margin-bottom: 43px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.description-main-header {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  color: var(--basic-light-black);
  margin-bottom: 51px;
  letter-spacing: normal;
}

.are-you-interested-in {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
  margin-top: 56px;
}

.date-of-travel {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: var(--basic-light-black);
  margin-top: 34px;
}

.search-of-hotel {
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: var(--basic-white);
  background-color: var(--basic-gray);
  margin: 0 auto;
  margin-top: 48px;
  text-transform: uppercase;
  border: none;
}

.search-of-hotel:hover,
.search-of-hotel:focus {
  color: var(--basic-white);
  background-color: var(--basic-dark-gray);
}

.search-of-hotel:active {
  background-color: var(--basic-extra-dark-gray);
  color: var(--basic-white-opacity);
}

form {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin-bottom: 40px;
}

.button-search {
  font-size: 21px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  padding: 16px 182px 16px 181px;
  width: 458px;
  height: 58px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
  margin: 56px 55px 55px 55px;
}

.button-search:hover,
.button-search:focus {
  background-color: var(--basic-medium-blue);
}

.button-search:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-dark-blue);
}

.button-range {
  font: inherit;
  line-height: 21px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 7px 35px 8px 36px;
  width: 137px;
  height: 36px;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);
  position: absolute;
  margin-top: -25px;
  margin-bottom: 50px;
  margin-left: 83px;
}

.button-range:hover,
.button-range:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 2px solid;
  border-radius: 2px;
  box-sizing: border-box;
}

.slidecontainer {
  background-color: var(--basic-white);
}

.button-price {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-blue);
  background-color: var(--basic-white);
  border: none;
  font-weight: normal;
  margin-left: 40px;
}

.button-price:active {
  color: var(--basic-blue);
}

.button-type {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-weight: normal;
  opacity: 0.3;
  border: none;
  border-bottom: 1px dashed var(--basic-blue);
  margin-left: 32px;
}

.button-type:hover,
.button-type:focus {
  color: var(--basic-blue);
  opacity: 1;
}


.button-rating {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  background-color: var(--basic-white);
  border: none;
  border-bottom: 1px dashed var(--basic-blue);
  font-weight: normal;
  margin-left: 33px;
}

.stars img {
  position: relative;
  left: 24px;
  top: 30px;
  flex-shrink: 0;
}

.stars2 img {
  position: relative;
  left: 47px;
  top: 28px;
  flex-shrink: 0;
}

.stars3 img {
  position: relative;
  left: 71px;
  top: 28px;
  flex-shrink: 0;
}

.button-type:focus {
  color: var(--basic-blue);
}
.button-rating:hover{
  color: var(--basic-blue);
 opacity: 1;
}

.button-rating:active {
  color: var(--basic-black);
  border-bottom: none;
  opacity: 1;
}

.button:hover {
  background-color: var(--basic-gray);
}

.contacts {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.footer-class {
  background-color: var(--basic-blue);
  height: 48px;
  width: 48px;
  display: block
}

.developed-by {
  font-size: 14px;
  line-height: 26px;
  width: 114px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 18px;
}

.in-details-button {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: bold;
  line-height: 21px;
  padding: 3px 16px 3px 17px;
  margin: 15.5px 6px 25px 1px;
  height: 21px;
  width: 77px;
}

.in-details-button:hover,
.im-details-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-medium-blue);
}

.in-details-button:active {
  color: var(--basic-white-opacity);
  background-color: var(--basic-dark-blue);
}

.booking-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  padding: 3px 17px 3px 16px;
  background-color: var(--basic-gray);
  color: var(--basic-white);
  margin-left: -5px;
}

.booking-button:hover,
.booking-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-dark-gray);
}

.booking-button:active {
  background-color: var(--basic-extra-dark-gray);
  color: var(--basic-white-opacity);
}

.rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  background-color: var(--basic-extra-light-gray);
  padding: 3px 12px 3px 15px;
  color: var(--basim-medium-black);
  margin-right: 73px;
  position: relative;
  left: 1px;
  top: 70px;
  right: 20px;
  bottom: -40px;
}

.developed-by-image1 {
  fill: var(--basic-black);
  display: block;
  width: 115px;
  height: 41px;
  margin-top: -3px;
  margin-left: -3px;
}

.developed-by-image2 {
  fill: var(--basic-black);
  display: block;
  width: 115px;
  height: 41px;
  margin-top: 1px;
}

.developed-by-image1:hover,
.developed-by-image1:focus {
  fill: var(--basic-blue);
}

.developed-by-image1:active {
  fill: var(--basic-almostwhite-gray);
}
.developed-by-image2:hover,
.developed-by-image2:focus {
  fill: var(--basic-blue);
}

.developed-by-image2:active {
  fill: var(--basic-almostwhite-gray);
}

.developed-flex {
  display: flex;
  margin-left: 170px;
  margin-top: 40px;
}

.intro-welcome {
  align-self: center;
}

.intro {
  display: flex;
  justify-content: center;
  background: url(../img/backgroundphoto1.jpg);
  background-color: var(--add-background-color-light-blue);
  background-position: center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 509px;
}

.intro2 {
  background: url(../img/backgroundphoto2.jpg);
  background-color: var(--add-background-color-medium-blue);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 1200px;
  min-height: 217px;
  background-size: cover;
  overflow: hidden;
}

.names {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-black);
  margin-top: -12px;
  margin-right: -30px;
}

.small-square {
  margin-top: 16px;
  margin-left: 100px;
  margin-right: -30px;
  flex-wrap: wrap;
  width: 200px;
}

.beautiful-road {
  width: 100px;
  margin-left: 235px;
  margin-top: 16px;
}

.few-tourist {
  width: 150px;
  margin-top: 15px;
  margin-left: 187px;
  margin-bottom: 40px;
  margin-right: -5px;
}

.description-names-3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-light-black);
  margin-top: 25px;
  margin-bottom: 3px;
  margin-right: 90px;
  margin-left: 175px;
}
.description-names-4 {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-light-black);
margin-right: 0px;
margin-left: 150px;
margin-bottom: 3px;
margin-top:25px;
}

.number-5 {
  margin-right: -13px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-light-black);
  margin-bottom: 2px;
  margin-top: -13px;
  margin-left: 125px;
}

.description-3 {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  width: 220px;
  margin-top: 24px;
  margin-left: 90px;
}

.description-4 {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  width: 270px;
  margin-left: 150px;
  margin-top:23px;
  margin-bottom: 14px;
}

.description-5 {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  width: 250px;
  margin-top: 24px;
  margin-left: 140px;
}

.advantages-blue-frame-flex {
  line-height: 21px;
  text-align: center;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
}

.aligning-flex-1 {
/*display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
*/
  text-align: center;
  width: 33.33%;
}

.white-font {
  width: 150px;
  height: 42px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin-top: 5px;
  margin-left: 125px;
  margin-bottom: 25px;
  text-align:center;
}

.white-font-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-top: 7px;
  margin-bottom: 25px;
}

.sedona-description {
  margin-top: 12px;
  margin-left: 36px;
  margin-bottom: 10px;
  width: 330px;
  height: 42px;
}

.advantages-blue-frame2-flex {
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -4px;
}

.aligning-flex-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33.33%;
}

.number2 {
  margin-top: 11px;
}

.description-bridge {
  width: 300px;
  position: relative;
  top: -10px;
}

.advantages-first-line-flex {
  min-height: 256px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 75px;
}



.house {
  margin-top: 20px;
  margin-left: -11px;
  margin-right: -10px;
}

.description-house {
  font-weight: normal;
  letter-spacing: normal;
  width: 300px;
  height: 42px;
  margin-left: -10px;
  margin-top: 25px;
  margin-bottom: 12px;
  margin-right: -33px;
}

.image-food {
  margin-top: 57px;
  margin-left: 20px;
}

.food {
  margin-top: 26px;
  margin-left: -12px;
  margin-right: -30px;
}

.description-food {
  font-weight: normal;
  letter-spacing: normal;
 margin-left: -10px;
 margin-top: 24px;
 margin-bottom: 14px;
 margin-right: -33px;
  width: 300px;
  height: 42px;
}

.image-souvenir {
  margin-top: 55px;
  margin-left: 10px;

}

.souvenir {
  margin-top: 24px;
  margin-left: -20px;
}

.description-souvenir {
  font-weight: normal;
  letter-spacing: normal;
  position: relative;
  left: -10px;
  width: 300px;
  height: 42px;
  margin-top: 23px;
  margin-bottom: 14px;
  margin-right: -33px;
}

.advantages-second-line-flex {
  width: 33, 3%;
  min-height: 196px;
  padding-top: 30px;
  padding-bottom: 28px;
  background-color: var(--basic-light-gray);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.page {
  height: 100%;
  background-color: var(--basic-extra-light-gray);
}

.page-body-grid {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.r-grid {
  margin-bottom: 0px;
  outline-offset: -5px;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;
  width: 138px;
  height: 70px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.section-style {
  position: relative;
}

.form-flex {
  margin: auto;
  width: 568px;
  height: 395px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.arrival-date {
  margin-top: 2px;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  margin-right: -15px;
  padding: 0px;
}

.arrival-date-field {
  padding: 10px 198px 10px 15px;
  background-color: var(--basic-extra-light-gray);
  width: 21px;
  height: 23px;
  background-repeat: no-repeat;
}

.departure-date {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.adult-button {
  align-self: auto;
  margin-right: 40px;
  margin-top: 1px;;
}

.icon-minus {
  fill: var(--basic-pale-gray);
  width: 10px;
  height: 3px;
  border-style: none;
  margin-right: 15px;
  background-color: var(--basic-extra-light-gray);
  height: 38px;
  width: 39px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.icon-minus:hover,
.icon-minus:focus {
  fill: var(--basic-black);
}

.icon-minus:active {
  fill: var(--basic-blue);
}

.icon-plus {
  width: 11px;
  height: 11px;
  fill: var(--basic-pale-gray);
  cursor: pointer;
  border-width: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: var(--basic-extra-light-gray);
  height: 38px;
  width: 39px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-plus2 {
  width: 11px;
  height: 11px;
  fill: var(--basic-pale-gray);
  cursor: pointer;
  border-width: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: var(--basic-extra-light-gray);
  height: 38px;
  width: 39px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.icon-plus:hover,
.icon-plus:focus,
.icon-plus2:hover,
.icon-plus2:focus {
  fill: var(--basic-black);
}

.icon-plus:active,
.icon-plus2:active {
  fill: var(--basic-blue);
}

.field {
  background-color: var(--basic-extra-light-gray);
  border-style: none;
  width: 32px;
  height: 26px;
  margin-left: 0px;
  text-align: center;
  -moz-appearance: textfield;
  font-weight: bold;
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-extra-light-gray);
  width: 114px;
  height: 38px;
  text-align: center;
  margin-right: 45px;
  margin-top: -5px;
}

.background1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-extra-light-gray);
  width: 114px;
  height: 38px;
  text-align: center;
  margin-top: -5px;
}

.icon-minus-plus-flex {
  display: flex;
  margin-top: 35px;
  margin-left: 55px;
  margin-top: 35px;
}

.children-button {
  align-self: auto;
  margin-right: 30px;
  margin-left: 8px;
}

.main-footer-flex1 {
  display: flex;
  flex-wrap: wrap;
}

.main-footer-flex2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.contacts {
  align-self: auto;
  margin-left: 100px;
}

.visitsedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 23px;
  margin-bottom: 10px;
  margin-left: 70px;
}

.telsedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 11px;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 21px;
}

.icon-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 210px;
  margin-top: 0px;
  margin-left: 170px;
  margin-bottom: -35px;
}

.footer {
  margin-top: -125px;
  opacity: 0.9;
  background-color: var(--basic-white);
}

.social-icons {
  width: 46px;
  height: 48px;
  align-self: auto;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  display: block;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons:hover,
.social-icons:focus {
  color: var(--basic-white);
  background-color: var(--basic-medium-blue);
}

.social-icons:active .opacity-img {
opacity: 0.3;
}

.developed-by {
  align-self: auto;
  font-style: normal;
  margin-left: -10px;
  margin-top: -1px;
}

.font-style1 {
  font-weight: normal;
  margin-left: 12px;
  margin-bottom: -5px;
}

.font-style2 {
  font-weight: normal;
  margin-left: 10px;
  margin-bottom: -5px;
}

.hotel-flex {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--basic-extra-extra-light-gray);
  border-bottom-style: none;
}

.hotel-flex2 {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--basic-extra-extra-light-gray);
}

.price-from {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  margin-top: 5px;
  margin-bottom: 20px;
}

.price1 {
  margin-left: 35px;
}

.price2 {
  margin-left: 60px;
}

.price3 {
  margin-left: 15px;
}

.amara-resort-image {
  display: flex;
  justify-content: flex-start;
}

.amara-resort-text-and-buttons {
  flex-direction: column;
  margin-top: 23px;
}

.head-of-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 23px;
  margin-bottom: 21px;
  margin-left: -2px;
}

.head-of-hotel:hover,
.head-of-hotel:focus {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

.head-of-hotel:active {
  background-color: var(--basic-white);
  color: var(--basic-black-opacity);
}

.desert-quail-inn-image {
  display: flex;
  justify-content: flex-start;
}

.desert-quail-inn-text-and-buttons {
  margin-top: 23px;
}

.villas-image {
  display: flex;
  justify-content: flex-start;
}

.villas-text-and-buttons {
  flex-direction: column;
  margin-top: 23px;
}

.rating-villas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.costs-per-day {
  margin-right: 50%;
  align-self: stretch;
}

.found-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -32px;
  margin-bottom: 10px;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  margin-left: 46px;
  margin-top: 12px;
  margin-bottom: 15px;
}

.photo-fit {
  object-fit: contain;
  padding: 30px 29px 30px 73px;
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 73px;
}

.icon-up-down {
  display: flex;
  align-content: flex-end;
  padding-left: 500px;
}

.icon-down {
  fill: var(--basic-normal-gray);
}

.icon-down:hover,
.icon-down:focus {
  fill: var(--basic-black);
}

.icon-down:active {
  fill: var(--basic-blue);
}

.icon-up {
  padding-right: 18px;
  fill: var(--basic-normal-gray);
}

.icon-up:hover,
.icon-up:focus {
  fill: var(--basic-black);
}

.icon-up:active {
  fill: var(--basic-blue);
}

.type-of-housing {
  margin: 0 auto;
}

.calendar-icon {
  background: url(../img/calendar-gray.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.form {
  margin-top: 60px;
  margin-left: 55px;
  display: flex;
}

.form1 {
  margin-top: 34px;
  margin-left: 55px;
  display: flex;
}

.calendarb {
  fill: var(--basic-pale-gray);
  border-style: none;
  margin-left: -40px;
  background-color: transparent;
}

.calendarb:hover {
  fill: var(--basic-black);
}

.calendarb:active {
  fill: var(--basic-blue);
}

.calendar {
  background-color: var(--basic-extra-light-gray);
  border: 2px solid var(--basic-extra-extra-light-gray);
  height: 38px;
  width: 346px;
  border-style: none;
  margin-top: -5px;
  text-indent: 10px;
  margin-left: 40px;
  font-weight: bold;
  color: var(--basic-black);
}

.calendar1 {
  background-color: var(--basic-extra-light-gray);
  border: 2px solid var(--basic-extra-extra-light-gray);
  height: 38px;
  width: 346px;
  border-style: none;
  margin-top: -8px;
  text-indent: 10px;
  margin-left: 20px;
  font-weight: bold;
  color: var(--basic-black);
}

.calendar:hover {
  background-color: var(--basic-dingy-white);
}

.calendar:focus {
  background-color: var(--basic-white);
}
.calendar:invalid{
  border-color: red;
}

.calendar1:focus {
  background-color: var(--basic-white);
}

.calendar2 {
  position: absolute;
  height: 40px;
  width: 200px;
}

.calendar::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: bold;
}
.calendar1::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: bold;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.head-of-checkbox {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  margin-top: 25px;
  margin-left: 70px;
}

.background-color-card{
  position: relative;
  background-color: var(--add-background-color-light-green);
  background: url(../img/map.png);
  width: 1200px;
  height: 600px;
}

.main-card{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal-show {   
  display: none; 
}
.form-flex{
  animation-name: bounce;
  animation-duration: 0.6s;
}

  @keyframes bounce {
    0% {transform: translate(-50%, -200px); opacity: 0;}
  
    70% {transform: translate(-50%, 30px); opacity: 1;}
  
    90% { transform: translate(-50% -10px);}

    100% { transform: translate(-50% 0);}
  }
  .main-header-grid{
    position: relative;
  }

  .modal-error {
    animation: shake 0.6s;
  }
  
  @keyframes shake {
      10%, 90% {
        transform: translate(-51%, 0);
      }
      
      20%, 80% {
        transform: translate(-52%, 0);
      }
    
      30%, 50%, 70% {
        transform: translate(-50%, 0);
      }
    
      40%, 60% {
        transform: translate(-52%, 0);
      }
    }  

    .advantages-first-line-flex{
      justify-content: flex-start;
    }
    .advantages-first-line-flex > div{
      width: 33.3333%;
      text-align: center;
      padding: 0 61px;
      box-sizing: border-box;
    }

    .button-type:active {
      color: var(--basic-black);
      border-bottom: none;
      opacity: 1;
  }
  .image-house {
    margin-top: 60px;
    margin-left: 13px;
  }
  .image-house-second{
    margin-top: 60px;
    margin-left: 13px;
    margin-right: 10px;
  }